##### Import Libraries

In [15]:
import pandas as pd
import numpy as np

##### Load dataframe from 1_data_Acquisition output (data/RAW_2022_SAIPE_DATA.xlsx)

In [16]:
data_filepath = f'../census_Poverty/data/RAW_2022_SAIPE_DATA.xlsx'
df = pd.read_excel(data_filepath)

##### Check dataframe once more

In [17]:
df.head()

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,2022 Poverty and Median Household Income Estim...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Information,NaN,NaN,NaN,All Ages,NaN,NaN,NaN,NaN,NaN,...,NaN,Median Household Income,NaN,NaN,Age 0-4,NaN,NaN,NaN,NaN,NaN
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,40951625,40691315,41211935,12.6,12.5,12.7,...,15.7,74755,74607,74903,3141107,3093587,3188627,17.4,17.1,17.7
4,01,000,AL,Alabama,798469,780933,816005,16.2,15.8,16.6,...,21.6,59703,58986,60420,68982,64247,73717,24.4,22.7,26.1

----
Here are the steps which I will be following in this data cleaning/pre-processing/validation stage:
##### **1** - Rename/fix headers.
- Headers are actually located in row 4, and I will combine them with additional header detail from row 3.
- Rename row 1, drop rows 2-4.
- Naming as follows:
    - Table with column headers in rows 3 and 4 -> STATE_FIPS_ID
    - Unnamed: 1 -> POSTAL_CODE
    - Unnamed: 2 -> REGION_NAME
    - Unnamed: 3 -> ALL_AGES_POVERTY_ESTIMATE
    - Unnamed: 4 -> ALL_AGES_90_CI_LOWER_BOUND
    - Unnamed: 5 -> ALL_AGES_90_CI_UPPER_BOUND
    - Unnamed: 6 -> ALL_AGES_POVERTY_PERCENT
    - Unnamed: 7 -> ALL_AGES_90_CI_LOWER_PERCENT
    - Unnamed: 8 -> ALL_AGES_90_CI_UPPER_PERCENT
    - Unnamed: 9 -> 0_17_POVERTY_ESTIMATE
    - Unnamed: 10 -> 0_17_90_CI_LOWER_BOUND
    - Unnamed: 11 -> 0_17_90_CI_UPPER_BOUND
    - Unnamed: 12 -> 0_17_POVERTY_PERCENT
    - Unnamed: 13 -> 0_17_90_CI_LOWER_PERCENT
    - Unnamed: 14 -> 0_17_90_CI_UPPER_PERCENT
    - Unnamed: 15 -> 5_17_POVERTY_ESTIMATE
    - Unnamed: 16 -> 5_17_90_CI_LOWER_BOUND
    - Unnamed: 17 -> 5_17_90_CI_UPPER_BOUND
    - Unnamed: 18 -> 5_17_POVERTY_PERCENT
    - Unnamed: 19 -> 5_17_90_CI_LOWER_PERCENT
    - Unnamed: 20 -> 5_17_90_CI_UPPER_PERCENT
    - Unnamed: 21 -> MEDIAN_HOUSEHOLD_INCOME
    - Unnamed: 22 -> MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND
    - Unnamed: 23 -> MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND
    - Unnamed: 24 -> 0_4_POVERTY_ESTIMATE
    - Unnamed: 25 -> 0_4_90_CI_LOWER_BOUND
    - Unnamed: 26 -> 0_4_90_CI_UPPER_BOUND
    - Unnamed: 27 -> 0_4_POVERTY_PERCENT
    - Unnamed: 28 -> 0_4_CI_LOWER_PERCENT
    - Unnamed: 29 -> 0_4_UPPER_PERCENT

In [18]:
new_headers = {
    'Table with column headers in rows 3 and 4': 'STATE_FIPS_ID',
    'Unnamed: 1': 'COUNTY_ID',
    'Unnamed: 2': 'POSTAL_CODE',
    'Unnamed: 3': 'REGION_NAME',
    'Unnamed: 4': 'ALL_AGES_POVERTY_ESTIMATE',
    'Unnamed: 5': 'ALL_AGES_90_CI_LOWER_BOUND',
    'Unnamed: 6': 'ALL_AGES_90_CI_UPPER_BOUND',
    'Unnamed: 7': 'ALL_AGES_POVERTY_PERCENT',
    'Unnamed: 8': 'ALL_AGES_90_CI_LOWER_PERCENT',
    'Unnamed: 9': 'ALL_AGES_90_CI_UPPER_PERCENT',
    'Unnamed: 10': '0_17_POVERTY_ESTIMATE',
    'Unnamed: 11': '0_17_90_CI_LOWER_BOUND',
    'Unnamed: 12': '0_17_90_CI_UPPER_BOUND',
    'Unnamed: 13': '0_17_POVERTY_PERCENT',
    'Unnamed: 14': '0_17_90_CI_LOWER_PERCENT',
    'Unnamed: 15': '0_17_90_CI_UPPER_PERCENT',
    'Unnamed: 16': '5_17_POVERTY_ESTIMATE',
    'Unnamed: 17': '5_17_90_CI_LOWER_BOUND',
    'Unnamed: 18': '5_17_90_CI_UPPER_BOUND',
    'Unnamed: 19': '5_17_POVERTY_PERCENT',
    'Unnamed: 20': '5_17_90_CI_LOWER_PERCENT',
    'Unnamed: 21': '5_17_90_CI_UPPER_PERCENT',
    'Unnamed: 22': 'MEDIAN_HOUSEHOLD_INCOME',
    'Unnamed: 23': 'MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND',
    'Unnamed: 24': 'MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND',
    'Unnamed: 25': '0_4_POVERTY_ESTIMATE',
    'Unnamed: 26': '0_4_90_CI_LOWER_BOUND',
    'Unnamed: 27': '0_4_90_CI_UPPER_BOUND',
    'Unnamed: 28': '0_4_POVERTY_PERCENT',
    'Unnamed: 29': '0_4_CI_LOWER_PERCENT',
    'Unnamed: 30': '0_4_UPPER_PERCENT'
}

# Rename the headers based on the dictionary
df.columns = df.columns.map(new_headers)

# Drop rows 1 and 2
df = df.drop([0, 1, 2])

# Reset the index
df = df.reset_index(drop=True)

Double check result.

In [19]:
df.head()

,STATE_FIPS_ID,COUNTY_ID,POSTAL_CODE,REGION_NAME,ALL_AGES_POVERTY_ESTIMATE,ALL_AGES_90_CI_LOWER_BOUND,ALL_AGES_90_CI_UPPER_BOUND,ALL_AGES_POVERTY_PERCENT,ALL_AGES_90_CI_LOWER_PERCENT,ALL_AGES_90_CI_UPPER_PERCENT,...,5_17_90_CI_UPPER_PERCENT,MEDIAN_HOUSEHOLD_INCOME,MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND,MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND,0_4_POVERTY_ESTIMATE,0_4_90_CI_LOWER_BOUND,0_4_90_CI_UPPER_BOUND,0_4_POVERTY_PERCENT,0_4_CI_LOWER_PERCENT,0_4_UPPER_PERCENT
0,00,000,US,United States,40951625,40691315,41211935,12.6,12.5,12.7,...,15.7,74755,74607,74903,3141107,3093587,3188627,17.4,17.1,17.7
1,01,000,AL,Alabama,798469,780933,816005,16.2,15.8,16.6,...,21.6,59703,58986,60420,68982,64247,73717,24.4,22.7,26.1
2,01,001,AL,Autauga County,6988,5522,8454,11.8,9.3,14.3,...,19.5,70148,62906,77390,.,.,.,.,.,.
3,01,003,AL,Baldwin County,30195,26604,33786,12.4,10.9,13.9,...,17.2,71704,66180,77228,.,.,.,.,.,.
4,01,005,AL,Barbour County,5860,4715,7005,26.7,21.5,31.9,...,44.4,41151,36595,45707,.,.,.,.,.,.

-----
##### **2** - Add State/National/County identifier column

In [20]:
# Define the function to categorize each row
def categorize(row):
    if row['STATE_FIPS_ID'] == '00' and row['COUNTY_ID'] == '000':
        return 'NATIONAL'
    elif row['STATE_FIPS_ID'] != '00' and row['COUNTY_ID'] == '000':
        return 'STATE'
    else:
        return 'COUNTY'

# Apply the function and create the new column
df['REGION_TYPE'] = df.apply(categorize, axis=1)

Check results - expected is 1 national, 51 state, and 3144 county

In [21]:
# Count the occurrences of each value in the 'REGION_TYPE' column
counts = df['REGION_TYPE'].value_counts()

# Display the counts
print(counts)

REGION_TYPE
COUNTY      3144
STATE         51
NATIONAL       1
Name: count, dtype: int64

----
##### **3** - Validate any abnormal data.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3196 entries, 0 to 3195
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   STATE_FIPS_ID                              3196 non-null   object
 1   COUNTY_ID                                  3196 non-null   object
 2   POSTAL_CODE                                3196 non-null   object
 3   REGION_NAME                                3196 non-null   object
 4   ALL_AGES_POVERTY_ESTIMATE                  3196 non-null   object
 5   ALL_AGES_90_CI_LOWER_BOUND                 3196 non-null   object
 6   ALL_AGES_90_CI_UPPER_BOUND                 3196 non-null   object
 7   ALL_AGES_POVERTY_PERCENT                   3196 non-null   object
 8   ALL_AGES_90_CI_LOWER_PERCENT               3196 non-null   object
 9   ALL_AGES_90_CI_UPPER_PERCENT               3196 non-null   object
 10  0_17_POVERTY_ESTIMATE                      3196 non-null   object
 11  0_17_90_CI_LOWER_BOUND                     3196 non-null   object
 12  0_17_90_CI_UPPER_BOUND                     3196 non-null   object
 13  0_17_POVERTY_PERCENT                       3196 non-null   object
 14  0_17_90_CI_LOWER_PERCENT                   3196 non-null   object
 15  0_17_90_CI_UPPER_PERCENT                   3196 non-null   object
 16  5_17_POVERTY_ESTIMATE                      3196 non-null   object
 17  5_17_90_CI_LOWER_BOUND                     3196 non-null   object
 18  5_17_90_CI_UPPER_BOUND                     3196 non-null   object
 19  5_17_POVERTY_PERCENT                       3196 non-null   object
 20  5_17_90_CI_LOWER_PERCENT                   3196 non-null   object
 21  5_17_90_CI_UPPER_PERCENT                   3196 non-null   object
 22  MEDIAN_HOUSEHOLD_INCOME                    3196 non-null   object
 23  MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND  3196 non-null   object
 24  MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND  3196 non-null   object
 25  0_4_POVERTY_ESTIMATE                       3196 non-null   object
 26  0_4_90_CI_LOWER_BOUND                      3196 non-null   object
 27  0_4_90_CI_UPPER_BOUND                      3196 non-null   object
 28  0_4_POVERTY_PERCENT                        3196 non-null   object
 29  0_4_CI_LOWER_PERCENT                       3196 non-null   object
 30  0_4_UPPER_PERCENT                          3196 non-null   object
 31  REGION_TYPE                                3196 non-null   object
dtypes: object(32)
memory usage: 799.1+ KB

-----
##### **4** - Clean '.' values to NaN

In [23]:
# Replace '.' with NaN
df.replace('.', pd.NA, inplace=True)

-----
##### **5** - Update data types for necessary columns

In [24]:
df.dtypes

STATE_FIPS_ID                                object
COUNTY_ID                                    object
POSTAL_CODE                                  object
REGION_NAME                                  object
ALL_AGES_POVERTY_ESTIMATE                    object
ALL_AGES_90_CI_LOWER_BOUND                   object
ALL_AGES_90_CI_UPPER_BOUND                   object
ALL_AGES_POVERTY_PERCENT                     object
ALL_AGES_90_CI_LOWER_PERCENT                 object
ALL_AGES_90_CI_UPPER_PERCENT                 object
0_17_POVERTY_ESTIMATE                        object
0_17_90_CI_LOWER_BOUND                       object
0_17_90_CI_UPPER_BOUND                       object
0_17_POVERTY_PERCENT                         object
0_17_90_CI_LOWER_PERCENT                     object
0_17_90_CI_UPPER_PERCENT                     object
5_17_POVERTY_ESTIMATE                        object
5_17_90_CI_LOWER_BOUND                       object
5_17_90_CI_UPPER_BOUND                       object
5_17_POVERTY_PERCENT                         object
5_17_90_CI_LOWER_PERCENT                     object
5_17_90_CI_UPPER_PERCENT                     object
MEDIAN_HOUSEHOLD_INCOME                      object
MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND    object
MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND    object
0_4_POVERTY_ESTIMATE                         object
0_4_90_CI_LOWER_BOUND                        object
0_4_90_CI_UPPER_BOUND                        object
0_4_POVERTY_PERCENT                          object
0_4_CI_LOWER_PERCENT                         object
0_4_UPPER_PERCENT                            object
REGION_TYPE                                  object
dtype: object

In [25]:
# Create a dictionary mapping from current dtypes in df to the desired dtypes
dtype_map = {
    'POSTAL_CODE': object,
    'REGION_NAME': object,
    'ALL_AGES_POVERTY_ESTIMATE': int,
    'ALL_AGES_90_CI_LOWER_BOUND': int,
    'ALL_AGES_90_CI_UPPER_BOUND': int,
    'ALL_AGES_POVERTY_PERCENT': float,
    'ALL_AGES_90_CI_LOWER_PERCENT': float,
    'ALL_AGES_90_CI_UPPER_PERCENT': float,
    '0_17_POVERTY_ESTIMATE': int,
    '0_17_90_CI_LOWER_BOUND': int,
    '0_17_90_CI_UPPER_BOUND': int,
    '0_17_POVERTY_PERCENT': float,
    '0_17_90_CI_LOWER_PERCENT': float,
    '0_17_90_CI_UPPER_PERCENT': float,
    '5_17_POVERTY_ESTIMATE': int,
    '5_17_90_CI_LOWER_BOUND': int,
    '5_17_90_CI_UPPER_BOUND': int,
    '5_17_POVERTY_PERCENT': float,
    '5_17_90_CI_LOWER_PERCENT': float,
    '5_17_90_CI_UPPER_PERCENT': float,
    'MEDIAN_HOUSEHOLD_INCOME': int,
    'MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND': int,
    'MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND': int,
    '0_4_POVERTY_ESTIMATE': int,
    '0_4_90_CI_LOWER_BOUND': int,
    '0_4_90_CI_UPPER_BOUND': int,
    '0_4_POVERTY_PERCENT': float,
    '0_4_CI_LOWER_PERCENT': float,
    '0_4_UPPER_PERCENT': float,
    'REGION_TYPE': object
}

# Create a list of columns for each type
int_columns = [col for col, dtype in dtype_map.items() if dtype == int]
float_columns = [col for col, dtype in dtype_map.items() if dtype == float]

# Round float columns to 1 decimal place and convert to appropriate data types
df[float_columns] = df[float_columns].round(1).astype('Float64')
df[int_columns] = df[int_columns].astype('Int64')  # Use 'Int64' (capital "I") to handle NaN values as well.

# Check the result
df.dtypes

STATE_FIPS_ID                                 object
COUNTY_ID                                     object
POSTAL_CODE                                   object
REGION_NAME                                   object
ALL_AGES_POVERTY_ESTIMATE                      Int64
ALL_AGES_90_CI_LOWER_BOUND                     Int64
ALL_AGES_90_CI_UPPER_BOUND                     Int64
ALL_AGES_POVERTY_PERCENT                     Float64
ALL_AGES_90_CI_LOWER_PERCENT                 Float64
ALL_AGES_90_CI_UPPER_PERCENT                 Float64
0_17_POVERTY_ESTIMATE                          Int64
0_17_90_CI_LOWER_BOUND                         Int64
0_17_90_CI_UPPER_BOUND                         Int64
0_17_POVERTY_PERCENT                         Float64
0_17_90_CI_LOWER_PERCENT                     Float64
0_17_90_CI_UPPER_PERCENT                     Float64
5_17_POVERTY_ESTIMATE                          Int64
5_17_90_CI_LOWER_BOUND                         Int64
5_17_90_CI_UPPER_BOUND                         Int64
5_17_POVERTY_PERCENT                         Float64
5_17_90_CI_LOWER_PERCENT                     Float64
5_17_90_CI_UPPER_PERCENT                     Float64
MEDIAN_HOUSEHOLD_INCOME                        Int64
MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND      Int64
MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND      Int64
0_4_POVERTY_ESTIMATE                           Int64
0_4_90_CI_LOWER_BOUND                          Int64
0_4_90_CI_UPPER_BOUND                          Int64
0_4_POVERTY_PERCENT                          Float64
0_4_CI_LOWER_PERCENT                         Float64
0_4_UPPER_PERCENT                            Float64
REGION_TYPE                                   object
dtype: object

##### **6** - Create FIPS code (STATE_FIPS_ID + POSTAL_CODE) for mapping

In [26]:
# Combining 'STATE_FIPS_ID' and 'POSTAL_CODE' to create a 5-digit FIPS code
df['FIPS_CODE'] = df['STATE_FIPS_ID'] + df['COUNTY_ID']
df

,STATE_FIPS_ID,COUNTY_ID,POSTAL_CODE,REGION_NAME,ALL_AGES_POVERTY_ESTIMATE,ALL_AGES_90_CI_LOWER_BOUND,ALL_AGES_90_CI_UPPER_BOUND,ALL_AGES_POVERTY_PERCENT,ALL_AGES_90_CI_LOWER_PERCENT,ALL_AGES_90_CI_UPPER_PERCENT,...,MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND,MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND,0_4_POVERTY_ESTIMATE,0_4_90_CI_LOWER_BOUND,0_4_90_CI_UPPER_BOUND,0_4_POVERTY_PERCENT,0_4_CI_LOWER_PERCENT,0_4_UPPER_PERCENT,REGION_TYPE,FIPS_CODE
0,00,000,US,United States,40951625,40691315,41211935,12.6,12.5,12.7,...,74607,74903,3141107,3093587,3188627,17.4,17.1,17.7,NATIONAL,00000
1,01,000,AL,Alabama,798469,780933,816005,16.2,15.8,16.6,...,58986,60420,68982,64247,73717,24.4,22.7,26.1,STATE,01000
2,01,001,AL,Autauga County,6988,5522,8454,11.8,9.3,14.3,...,62906,77390,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,COUNTY,01001
3,01,003,AL,Baldwin County,30195,26604,33786,12.4,10.9,13.9,...,66180,77228,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,COUNTY,01003
4,01,005,AL,Barbour County,5860,4715,7005,26.7,21.5,31.9,...,36595,45707,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,COUNTY,01005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,56,037,WY,Sweetwater County,5039,4230,5848,12.4,10.4,14.4,...,67457,84101,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,COUNTY,56037
3192,56,039,WY,Teton County,1212,906,1518,5.2,3.9,6.5,...,113980,141374,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,COUNTY,56039
3193,56,041,WY,Uinta County,2207,1671,2743,10.8,8.2,13.4,...,65016,81128,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,COUNTY,56041
3194,56,043,WY,Washakie County,822,606,1038,10.9,8.0,13.8,...,55566,65832,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,COUNTY,56043
3195,56,045,WY,Weston County,725,537,913,11.5,8.5,14.5,...,60867,74487,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,COUNTY,56045

----
##### **7** - Send data back to Excel (census_Poverty/data/CLEANED_2022_SAIPE_DATA.xlsx)

In [27]:
out_filepath = f'./data/CLEANED_2022_SAIPE_DATA.xlsx'
df.to_excel(out_filepath, index=False)